.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 12px;
    width: 100%;
}

.inputs-style {
    border: 1px solid #949494;
    border-radius: 2px;
    padding: 4px;
    height: 28.5px;
    font-size: 16px;
}

label {
    color: #757575;
    font-size: 16px;
    font-weight: 600;
}

textarea {
    border: 1px solid #949494;
    border-radius: 2px;
    padding: 4px;
    height: 100px;
    font-size: 16px;
    outline: none;
}

.local-itens {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}